<nav class="navbar  navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand " href="#">Weather thing</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
  <!-- I think everything is an unordered list <ul> in a nav-bar-->
  <!-- I think the ml-auto pushes these things in the nav-bar very far from the left. So it places us right. It is making very far margins on the right--> 
    <ul class="navbar-nav ml-auto">
      <li class="nav-item">
        <a class="nav-link mr-auto" href="#">About</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Log in</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#" tabindex="-1" aria-disabled="true">Create Account</a>
      </li>
    </ul>
  </div>
</nav>
