{% load static %}
<html>
<meta name="viewport" content="width=device-width, initial-scale=1.0">    
  <head>
  	<!--We are getting the stylesheet bootstrap.css in the static file and loading it here -->
  <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
  <meta content="text/html;charset=utf-8" http-equiv="Content-Type">
    <title>{% block title %}  {%endblock%}</title>
	</head>
	<body>

		<!--We are going to the partials/_navbar.html and putting what is in that html file right here -->
		{% include 'partials/_navbar.html' %}
	
		{% block content%} {% endblock %}
	  	<!--We are getting the javascript in the bootstrap.bundle.min.js in the static file and loading it here -->
	  	<!-- The bootstrap.bundle.min.js needs the jquery loaded so we have to do the jquery first that way we know it is already in there and that
		all the code in there work		-->
		<script src="{% static 'js/jquery-3.4.1.js' %}" > </script>
		<script src="{% static 'js/bootstrap.bundle.min.js' %}"> </script>
	</body>
</html>