{% extends 'base.html' %}

{% block title %} About Project/me {%endblock%}

{% block content %}
	<!--Mediocre description of my website and a link to github repo-->
	<p> About Page </p>
	<p> This website is made by Levi Herrera and it tells users the weather of locations they have opted in to receive information from.</p>
	<p>You can see all the code and stuff from my
		<a href="https://github.com/Herrera-pgoat/weather_web_app"> projects github repo.</a>
	</p>
	
	<!-- Explaining the reason I made this site-->
	<div class="container col-md-8">
		<div class="text-center" >
			<h4> Why I made this site </h4>
			<p> The reason I created this website was because every morning I had to Google the weather in Aurora then the weather in Chicago
				and doing two Google searches every morning was too much. So, I was determined to build a website that would solve this problem.
				Out of that determination this website was born and now I can get the weather of whatever places I want so long as I have the necessary information.</p>
		</div>
	</div>
{% endblock %}